.header {
    .header_dev {
      background-color:  rgb(223, 189, 104);
      height: 40px;
      marquee {
        display: flex;
        p{
        color: rgb(0, 0, 0);
         font-size: 25px;     
        }
       
      }
    }
  }
